<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Home Before Dark{% endblock %}</title>  
    <LINK rel="stylesheet" href="/css/main.css" type="text/css">
    <LINK rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
  </head>
  <body>
  	{% block menubar %}
    <ul class="nav nav-pills">
    	<li><a href = '/'>Home</a></li>
    	<li><a href = '/admin/regions'>regions</a></li>
    	<li><a href = '/admin/towns'>towns</a></li>
	</ul>
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
  </body>
</html>